[submodule "vim/home/.vim/bundle/minibufexpl.vim"]
	path = vim/home/.vim/bundle/minibufexpl.vim
	url = https://github.com/zhijianli88/minibufexpl.vim.git
[submodule "vim/home/.vim/bundle/nerdtree.git"]
	path = vim/home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/home/.vim/bundle/vim-go.git"]
	path = vim/home/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/home/.vim/bundle/vim-ruby.git"]
	path = vim/home/.vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/home/.vim/bundle/Vundle.vim.git"]
	path = vim/home/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
